    <ul class="main-menu js_menu">
    <li><a href="/">Каталог</a></li>
    <li class="menu-children">
        <a href="/resources">Ресурсы</a>
        <ul>
            <li><a href="/library_bases">Базы библиотек</a></li>
<!--            <li><a href="/digital_library">Электронные библиотеки</a></li>-->
            <li class="menu-children">
                <a href="/open_sources">Открытые ресурсы</a>
                <ul>
                    <li><a href="/open_access_resources">Ресурсы с открытым доступом</a></li>
                    <li><a href="/education_open_resources">Открытые образовательные ресурсы</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-children">
        <a href="/services">Услуги</a>
        <ul>
            <li><a href="/for_faculty">Для факультетов</a></li>
            <li><a href="/help_research">Помощник исследователю</a></li>
            <li><a href="/liaison_librarian">Библиотекари</a></li>
        </ul>
    </li>
    <li class="menu-children">
        <a href="/about">О библиотеке</a>
        <ul>
            <li><a href="/collection_location">Коллекции и местонахождение</a></li>
            <li><a href="/us_rules">Правила</a></li>
            <li><a href="/library_figures">Библиотека в цифрах</a></li>
            <li><a href="/library_events">Библиотечные мероприятия</a></li>
            <li><a href="/staff">Персонал</a></li>
        </ul>
    </li>
    <li><a href="/news">Новости</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
